@import '~normalize.css';
@import 'font.scss';

body {
  font-family: 'Roboto', sans-serif;
  background-color: pink;
  text-align: center;
}

.container {
  padding-top: 2rem;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

.logo {
  background-image: url('../assets/webpack-logo.png');
  background-size: cover;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.box {
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;

  h2 {
    text-align: center;
    color: rgb(180, 62, 62);
  }
}