@import '~normalize.css';
@import 'font.scss';

body {
	font-family: 'Roboto', sans-serif;
	background-color: pink;
	text-align: center;
}

.container {
	padding-top: 2rem;
	max-width: 1200px;
	min-height: 100vh;
	margin: 0 auto;
}
